<% provide :title, t("page_signup") %>
<% provide :button_text, t("btn_create_account") %>
<div class="left_content">
  <div class="title">
    <span class="title_icon"><%= image_tag "bullet1.gif", alt: "" %></span>
    <%= t "register" %>
  </div>
  <div class="feat_prod_box_details">
    <div class="contact_form">
      <div class="form_subtitle"><%= t "create" %></div>
      <%= render "form" %>
    </div>
  </div>
</div>
