@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

@import "bootstrap-sprockets";
@import "bootstrap";

$dark: #fff;
$dark-gray: #555;
$dark-gray1: #222;
$gray-medium-light: #eaeaea;
$light-gray: #777;
$gray-medium: #bbb;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.btn {
  width: 100%
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $light-gray;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  color: $dark;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $dark;
    text-decoration: none;
  }
}

/* footer */

footer {
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $dark-gray;
    &:hover {
      color: $dark-gray1;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}

/* sidebar */

aside {

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
  }
}

section.user_info {
  margin-top: 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $gray-medium;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

aside {

  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

td {
  max-width: 150px;
  word-wrap: break-word;

  img {
    max-width: 145px;
    padding-right: 5px;
  }
}

.smalled {
  width: 10px;
}

block {
  display: inline-block;
}
