jQuery('#cart-size').html(' <%= current_user.cart.item_size %> x items | <span class="red">TOTAL: <%= current_user.cart.total_price %> $</span>');
jQuery('.alert').html('<%= @notice %>').css({'display':'block'});
