<div class="new_prod_box">
  <%= link_to shoe.name, shoe, class: "element_a" %>
  <div class="new_prod_bg">
    <%= link_to image_tag(shoe.img_url, alt: "", class: "thumb",
      border: "0"), shoe %>
      <strong class="new"><%= shoe.discount.percent if shoe.discount %>%</strong>
  </div>
</div>
